*{margin: 0; padding: 0; font-family:'\5FAE\8F6F\96C5\9ED1'; font-size: 14px; color:#333; outline:0;}
a{ color:#333; text-decoration: none; }
a img{border: none;}
ul,li{ list-style: none;}
#content{ padding:15px; padding-top:80px; }
.cb:after, .cb li:after{display:block;clear:both;visibility:hidden;height:0;overflow:hidden;content:".";}
.l{ float: left;}
.r{ float: right;}
.red{ color: red;}
.crumb p,
.table1 .t1top span,
.form2 .jt,
.lefter ul li a{ 
background:url(../images/icons.png) no-repeat;
}

.login{ background: url(../images/bg.jpg) repeat-x 0 0;}
.loginbox{ background: url(../images/loginbg.png) no-repeat 0 0; width: 1005px; height:513px;  }
.loginbox form{ width: 460px; margin:230px auto 0; }
.loginbox form p.lxq{ padding-top: 110px; float:left; width: 230px; font-size: 12px; color: #5d5d5d;}
.loginbox form div{ float:left;width:225px;height:200px;}
.loginbox form div p{ padding: 5px 0;}
.loginbox form p label{ color: #0952a1; width: 65px; display: inline-block;}
.loginbox form p input{ padding: 2px; border:1px solid #7491b5; background: #f5fafe;}

.header{ 
  padding: 10px 20px;
  background:#045aac;
  position: absolute;
  width: 100%;
  z-index: 10;
  height: 45px;
}
.headtent{
  color: #FFF;
  font-size: 16px;
  padding: 12px;
  padding-right: 40px;
}
.headtent strong, .headtent b{ margin-right:12px; color: #FFF; font-weight: lighter; font-size: 16px;}
.headtent a{ color: #FFF; font-size: 13px;}
.headtent span{color:#FFF; padding: 0 10px;}
.lefter{
  width:190px;
  border-left:1px solid #d5d6d8;
  border-right: 1px solid #d5d6d8;
  background:#e8ebef;
  margin-top: 65px;
}
.lefter ul li{
  border-bottom: 1px solid #d5d6d8;
}
.lefter ul li a{display: block;padding-left: 55px;height: 65px; line-height: 65px;font-size: 14px;color: #045aac;}
.lefter a.li1{background-position:17px 17px;}
.lefter a.li2{background-position:17px -53px;}
.lefter a.li3{background-position:20px -118px;}
.lefter a.li4{background-position:20px -182px;}
.lefter a.li5{background-position:19px -245px;}
.lefter a.li6{background-position:19px -313px;}
.lefter ul li a:hover, .lefter ul li a.hover{
  background-color: #FFF;
}

.crumb{float: left; padding-bottom: 15px; zoom:1; }
.crumb p{ background-position:0 -441px; padding-left: 26px;}
.crumb p a, .crumb p span{ margin:0 3px; display: inline-block;}

/* 表格样式 */
table{ border: 1px solid #9fa8b3; border-collapse: collapse; clear: both; }
table tr, table td, table th{ border: 1px solid #9fa8b3; }
table th { background:#ededed; text-align: center; height: 31px; line-height: 31px;}
table a{color: #1f73e4;}

.table1{ min-width: 950px;}
.table1 img{ width:40px; cursor: pointer; height:40px; margin-right: 5px; border: 1px solid #9fa8b3 }
.table1 td { padding:5px 5px 5px 15px;WORD-WRAP:break-word;}
.table1 .t1top{text-align:right; background:#d7d7d7;height:50px; }
.table1 .t1top input{ color: #999; width: 200px; border: 1px solid #9fa8b3; padding-left: 5px; line-height: 31px; height: 31px; }
.table1 .t1top span{ vertical-align: middle; margin-top: -4px; *margin-top: -13px; display: inline-block; width: 32px; height: 33px; background-color: #798da6; background-position:3px -403px; margin-right: 20px;cursor: pointer;}

.table2 .t2top{background:#d7d7d7;height:50px; }
.table2 .t2top li { float:left; margin-left:15px; }
.table2 .t2top li a{ color: #333;  padding: 1px 15px; border-radius: 4px; display: inline-block; border: 1px solid #a0a0a0; background: #FFF; }
.table2 td{ padding:8px;  text-align: center;}

.table3{ clear: both; width: 100%; }
.table3 td{ padding:8px; text-align: center;}

.form{ clear: both; padding-top: 15px; padding-left: 10px;}
.form p{ padding-bottom: 15px;}
.form p label{ display: inline-block;  width: 75px; padding-left: 10px; font-weight:bold;}
.form p input, .form p textarea{padding:5px; width: 170px; border: 1px solid #d1d1d1;}
.form p.sexs input{ border: none; width: auto; margin-right: 4px;}
.form p textarea{ margin-left: 10px; width: 245px; height: 100px; }
.form .fbnt a{ margin: 20px 10px  0 40px; padding: 3px 15px; border-radius: 4px; display: inline-block; border: 1px solid #a0a0a0; background: #FFF;}
.t1top .jrssubmit input{ width: 140px; margin-bottom: 10px; height: 30px; }
.t1top .jrssubmit input.jrsdate{  background:#FFF url(../images/date.png) no-repeat 100px 3px; width: 120px; height: 30px; }
.t1top .jrssubmit select{height: 30px; width: 127px; padding-left: 5px; line-height: 30px; }
.t1top .jrssubmit button{padding: 3px 10px; cursor: pointer;}
.t1top .jrssubmit{ text-align: left; }

.filelink{ width: 445px; padding-bottom: 10px;}
.filelink p{background: #eee; border-bottom: 1px solid #FFF; overflow: hidden; padding: 4px 10px;}
.filelink p img{width: 30px; height: 24px; float: left;}
.filelink p span{ float:left; padding-left: 10px; display: inline-block;line-height: 24px; }
.filelink p a{ display: inline-block; width: 60px; background: #FFF; border:1px solid #bbb; line-height: 24px; float: right; border-radius: 3px; height: 24px; text-align: center; }

.form1 select{ width: 180px;}
.form1 p label{width: 80px;}
.form1 p label b{color: red;}
.form1 .zgxlcd{ display: none; background: #FFF;  position: absolute;width: 180px; border:1px solid #d1d1d1;top: 30px; left: 90px; }
.form1 .zgxlcd p{ padding: 5px; cursor: pointer; border-bottom: 1px solid #d1d1d1;  }
.form1 .zgxlcd p:hover, .form1 .zgxlcd p:nth-child(odd){ background: #eee; }

.form2{ border-radius: 5px; z-index: 4; border:1px solid #a0a0a0; display: none; background: #FFF; width: 320px; height: 200px; position: absolute; right:50px; top:60px;}
.form2 .fbnt a{ background: #00a0e9; border: none; color: #FFF; margin: 15px 10px 0 60px;}
.form2 .jt{position: absolute;left: 265px; top:-15px; display: inline-block; width: 20px; height: 15px; background-position:0 -378px;  }

.messager-window{-moz-box-shadow:0 2px 5px #ccc;-webkit-box-shadow:0 2px 5px #ccc; box-shadow:0 2px 5px #ccc;  
 border:1px solid #ccc; background:#FFF; }
.messager-window .panel-title{ padding-left: 20px; height:50px; line-height: 50px; color: #FFF; font-weight: bold; background:#045aac;}
.messager-window .ptext{ border-bottom:1px solid #ccc; padding: 25px 20px; color: #333; }
.messager-window .messager-button{ text-align: center; }
.messager-window .messager-button span span{ cursor: pointer; color: #FFF; margin:20px 30px;  display: inline-block; padding:2px 15px; background:#00a0e9; border-radius:4px; }

.page{min-width: 998px; background:#d7dbe3; padding:10px 0; border:1px solid #9fa8b3; border-top: none;  height: 20px;  }
.page p{float: left; padding-left: 20px;}
.page ul{ float:right; padding-right: 20px;}
.page ul li{float:left; margin-right:15px;}
.page ul li a{ padding: 1px 15px; border-radius: 4px; display: inline-block; border: 1px solid #a0a0a0; background: #FFF;}
.page ul li input{ padding: 1px; width: 30px; border-radius: 4px; border: 1px solid #a0a0a0; margin: 0 3px}

.detilym{ clear: both; }
.detilym .dtitle{ border-bottom: 1px solid #a0a8b3; margin-bottom: 10px; font-size: 18px; height: 44px; line-height: 44px; }
.detilym .dtecnt{  border-bottom: 1px solid #a0a8b3; margin-bottom: 10px;}
.detilym .dtecnt p{ padding-bottom: 15px; }
.detilym .dlink{  }
.detilym .dlink li{ border-bottom: 1px solid #a0a8b3; margin-bottom: 10px; }
.detilym .dlink p{ padding-bottom: 15px; }
.detilym .dlink p img{ width: 45px; height: 45px; border: 1px solid #9fa8b3; margin-right: 20px; }
.detilym .mores{ color: #1f73e4; }

.bulletin{ clear: both; }
.bulletin .b2top{height:40px; }
.bulletin .b2top li { float:left; margin-right:15px; }
.bulletin .b2top li a{ color: #333; padding: 1px 15px; border-radius: 4px; display: inline-block; border: 1px solid #a0a0a0; background: #FFF; }

.table9{ min-width: 950px;}
.table100{display: block; border: none; }
.table100 td{ padding:5px 10px 5px 15px;}
.trhover{ background:#f5f5f5; color: #1f73e4;  }
.trhover td{ color: #1f73e4;  } 

.tbox{ height: 400px; float:left; margin-bottom: 60px;  margin-right: 80px;  overflow-x: auto; width: 617px;}
.table5{ min-width:600px; width: 600px; }
.table5 td{ padding:5px 10px; text-align: left;}

.table6{min-width:180px;  }
.tbox6 p{padding-bottom: 0;}
.tbox6 p a{ color: #333; height: 25px; line-height: 25px; padding: 1px 14px; margin:7px 0;  border-radius: 4px; display: inline-block; border: 1px solid #a0a0a0; background: #FFF; }
.tbox6 p input{ margin:0 15px;  width: auto;}
.table6 input{ margin-right: 13px; }
.table6 td{ height: 30px; }
.tbox6 strong{padding-bottom: 10px;font-size: 17px; color: #444; display: inline-block;}
.tbox6{ margin-right:50px;  overflow-x:inherit;    width: 197px!important;}
.tisps{ padding: 5px; width: 280px; font-size: 13px; line-height: 28px; color: #777; }
.gyn29{ height: 290px; border:1px solid #aaa;  overflow-x:hidden; overflow-y:scroll;  }

.table4{min-width:350px; width: 350px;  }
.table4 td{ padding:5px 10px 5px 15px; text-align: left;}
.fbnew{ width: 400px; float:left; margin-top: -40px; }
.fbnew p{ padding-bottom: 5px; }
.fbnew input{  width: 440px; padding: 2px; margin-bottom: 10px; }
.fbnew textarea{ width: 440px;  padding: 2px; height: 220px; }
.fbnew .fbnt a{ background: #00a0e9; display: inline-block; border: none; color: #FFF;padding: 3px 15px; border-radius: 4px;}
.jcglbjst{padding-left: 10px;}
#dyhh, .jcglbja{color: #333;height: 25px;line-height: 25px;padding: 1px 10px;margin: 7px 5px;border-radius: 4px;display: inline-block;border: 1px solid #a0a0a0;background: #FFF;}
.jcglbja2{color: #333;height: 25px;line-height: 25px;padding: 1px 10px;margin: 1px 20px;border-radius: 4px;display: inline-block;border: 1px solid #a0a0a0;background: #FFF;}
.panel {
  overflow: hidden;
  text-align: left;
  margin: 0;
  border: 0;
}
.panel-header {
  padding: 5px;
  position: relative;
}

.panel-header-noborder {
  border-width: 0 0 1px 0;
}
.panel-body {
  overflow: auto;
  border-top-width: 0;
  padding: 0;
}

.panel-icon,
.panel-tool {
  position: absolute;
  top: 50%;
  margin-top: -8px;
  height: 16px;
  overflow: hidden;
}
.panel-icon {
  left: 5px;
  width: 16px;
}
.panel-tool {
  right: 5px;
  width: auto;
}
.panel-tool a {
  display: inline-block;
  width: 16px;
  height: 16px;
  opacity: 0.6;
  margin: 0 0 0 2px;
  vertical-align: top;
}
.panel-tool a:hover {
  opacity: 1;
  background-color: #eaf2ff;
  border-radius: 3px 3px 3px 3px;
}
.panel-loading {
  padding: 11px 0px 10px 30px;
}
.panel-noscroll {
  overflow: hidden;
}
.panel-fit,
.panel-fit body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}


.panel-body {
  color: #000000;
  font-size: 12px;
}
.panel-title {
  font-size: 12px;
  font-weight: bold;
  color: #0E2D5F;
  height: 16px;
  line-height: 16px;
}
.panel-footer {
  border: 1px solid #95B8E7;
  overflow: hidden;
  background: #F4F4F4;
}
.panel-footer-noborder {
  border-width: 1px 0 0 0;
}
.accordion {
  overflow: hidden;
  border-width: 1px;
  border-style: solid;
}
.accordion .accordion-header {
  border-width: 0 0 1px;
  cursor: pointer;
}
.accordion .accordion-body {
  border-width: 0 0 1px;
}
.accordion-noborder {
  border-width: 0;
}
.accordion-noborder .accordion-header {
  border-width: 0 0 1px;
}
.accordion-noborder .accordion-body {
  border-width: 0 0 1px;
}

.accordion {
  background: #ffffff;
  border-color: #95B8E7;
}
.accordion .accordion-header {
  background: #E0ECFF;
  filter: none;
}
.accordion .accordion-header-selected {
  background: #ffe48d;
}
.accordion .accordion-header-selected .panel-title {
  color: #000000;
}
.window {
  overflow: hidden;
}
.window .window-header {
  background: transparent;
  padding: 0px 0px 6px 0px;
}
 
.window .window-header .panel-icon,
.window .window-header .panel-tool {
  top: 50%;
  margin-top: -11px;
}
.window .window-header .panel-icon {
  left: 1px;
}
.window .window-header .panel-tool {
  right: 1px;
}
.window .window-header .panel-with-icon {
  padding-left: 18px;
}
.window-proxy {
  position: absolute;
  overflow: hidden;
}
.window-proxy-mask {
  position: absolute;
  filter: alpha(opacity=5);
  opacity: 0.05;
}
.window-mask {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: alpha(opacity=40);
  opacity: 0.40;
  font-size: 1px;
  overflow: hidden;
}
.window,
.window-shadow {
  position: absolute;
}


.window-proxy {
  border: 1px dashed #95B8E7;
}
.window-proxy-mask,
.window-mask {
  background: #ccc;
}
.window .panel-footer {
  border: 1px solid #95B8E7;
  position: relative;
  top: -1px;
}
.dialog-content {
  overflow: auto;
}
.dialog-toolbar {
  padding: 2px 5px;
}
.dialog-tool-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #fff;
  margin: 2px 1px;
}
.dialog-button {
  padding: 5px;
  text-align: right;
}
.dialog-button .l-btn {
  margin-left: 5px;
}
.dialog-toolbar,
.dialog-button {
  background: #F4F4F4;
  border-width: 1px;
  border-style: solid;
}
.dialog-toolbar {
  border-color: #95B8E7 #95B8E7 #dddddd #95B8E7;
}
.dialog-button {
  border-color: #dddddd #95B8E7 #95B8E7 #95B8E7;
}
.l-btn {
  text-decoration: none;
  display: inline-block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: none;
  text-align: center;
  vertical-align: middle;
  line-height: normal;
}
.l-btn-plain {
  border-width: 0;
  padding: 1px;
}
.l-btn-left {
  display: inline-block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  vertical-align: top;
}
.l-btn-text {
  display: inline-block;
  vertical-align: top;
  width: auto;
  line-height: 24px;
  font-size: 12px;
  padding: 0;
  margin: 0 4px;
}
.l-btn-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: 50%;
  margin-top: -8px;
  font-size: 1px;
}
.l-btn span span .l-btn-empty {
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 24px;
  font-size: 1px;
  vertical-align: top;
}
.l-btn span .l-btn-icon-left {
  padding: 0 0 0 20px;
  background-position: left center;
}

.l-btn-disabled .l-btn-text,
.l-btn-disabled .l-btn-icon {
  filter: alpha(opacity=50);
}
.l-btn-plain-disabled,
.l-btn-plain-disabled:hover {
  background: transparent;
  filter: alpha(opacity=50);
}
.l-btn-selected,
.l-btn-selected:hover {
  background: #ddd;
  filter: none;
}
.l-btn-plain-selected,
.l-btn-plain-selected:hover {
  background: #ddd;
}
.textbox {
  position: relative;
  border: 1px solid #95B8E7;
  background-color: #fff;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.textbox .textbox-text {
  font-size: 12px;
  border: 0;
  margin: 0;
  padding: 4px;
  white-space: normal;
  vertical-align: top;
  outline-style: none;
  resize: none;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
.textbox textarea.textbox-text {
  white-space: pre-wrap;
}
.textbox .textbox-prompt {
  font-size: 12px;
  color: #aaa;
}
.textbox .textbox-button,
.textbox .textbox-button:hover {
  position: absolute;
  top: 0;
  padding: 0;
  vertical-align: top;
  -moz-border-radius: 0 0 0 0;
  -webkit-border-radius: 0 0 0 0;
  border-radius: 0 0 0 0;
}
.textbox-button-right,
.textbox-button-right:hover {
  border-width: 0 0 0 1px;
}
.textbox-button-left,
.textbox-button-left:hover {
  border-width: 0 1px 0 0;
}
.textbox-addon {
  position: absolute;
  top: 0;
}
.textbox-icon {
  display: inline-block;
  width: 18px;
  height: 20px;
  overflow: hidden;
  vertical-align: top;
  background-position: center center;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
  text-decoration: none;
  outline-style: none;
}
.textbox-icon-disabled,
.textbox-icon-readonly {
  cursor: default;
}
.textbox-icon:hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.textbox-icon-disabled:hover {
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.textbox-focused {
  -moz-box-shadow: 0 0 3px 0 #95B8E7;
  -webkit-box-shadow: 0 0 3px 0 #95B8E7;
  box-shadow: 0 0 3px 0 #95B8E7;
}
.textbox-invalid {
  border-color: #ffa8a8;
  background-color: #fff3f3;
}
.filebox .textbox-value {
  vertical-align: top;
  position: absolute;
  top: 0;
  left: -5000px;
}
.filebox-label {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
  left: 0;
  top: 0;
  z-index: 10;
  background: url('images/blank.gif') no-repeat;
}
.l-btn-disabled .filebox-label {
  cursor: default;
}
.combo {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  vertical-align: middle;
}
.combo .combo-text {
  font-size: 12px;
  border: 0px;
  margin: 0;
  padding: 0px 2px;
  vertical-align: baseline;
}
.combo-arrow {
  width: 18px;
  height: 20px;
  overflow: hidden;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  opacity: 0.6;
  filter: alpha(opacity=60);
}
.combo-arrow-hover {
  opacity: 1.0;
  filter: alpha(opacity=100);
}
.combo-panel {
  overflow: auto;
}
.combo-arrow {
  /*background: url('images/combo_arrow.png') no-repeat center center;*/
}
.combo-panel {
  background-color: #ffffff;
}
.combo {
  border-color: #95B8E7;
  background-color: #fff;
}
.combo-arrow {
  background-color: #E0ECFF;
}
.combo-arrow-hover {
  background-color: #eaf2ff;
}
.combo-arrow:hover {
  background-color: #eaf2ff;
}
.combo .textbox-icon-disabled:hover {
  cursor: default;
}
.textbox-invalid {
  border-color: #ffa8a8;
  background-color: #fff3f3;
}
.combobox-item,
.combobox-group {
  font-size: 12px;
  padding: 3px;
  padding-right: 0px;
}
.combobox-item-disabled {
  opacity: 0.5;
  filter: alpha(opacity=50);
}
.combobox-gitem {
  padding-left: 10px;
}
.combobox-group {
  font-weight: bold;
}
.combobox-item-hover {
  background-color: #eaf2ff;
  color: #000000;
}
.combobox-item-selected {
  background-color: #ffe48d;
  color: #000000;
}
.layout {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  z-index: 0;
}
.layout-panel {
  position: absolute;
  overflow: hidden;
}
.layout-body {
  min-width: 1px;
  min-height: 1px;
}
.layout-panel-east,
.layout-panel-west {
  z-index: 2;
}
.layout-panel-north,
.layout-panel-south {
  z-index: 3;
}
.layout-expand {
  position: absolute;
  padding: 0px;
  font-size: 1px;
  cursor: pointer;
  z-index: 1;
}
.layout-expand .panel-header,
.layout-expand .panel-body {
  background: transparent;
  filter: none;
  overflow: hidden;
}
.layout-expand .panel-header {
  border-bottom-width: 0px;
}
.layout-split-proxy-h,
.layout-split-proxy-v {
  position: absolute;
  font-size: 1px;
  display: none;
  z-index: 5;
}
.layout-split-proxy-h {
  width: 5px;
  cursor: e-resize;
}
.layout-split-proxy-v {
  height: 5px;
  cursor: n-resize;
}
.layout-mask {
  position: absolute;
  background: #fafafa;
  filter: alpha(opacity=10);
  opacity: 0.10;
  z-index: 4;
}

.jcjlxs{height: 30px; line-height: 30px;}
.jcjlxs h5{color:#045aac; font-size: 16px; padding-top: 15px; padding-bottom: 5px;}


.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter:alpha(opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 20, ../sass/lightbox.sass */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 28, ../sass/lightbox.sass */
.lightbox .lb-image {
  display: block;
  height: auto;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 32, ../sass/lightbox.sass */
.lightbox a img {
  border: none;
}

/* line 35, ../sass/lightbox.sass */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 44, ../sass/lightbox.sass */
.lb-container {
  padding: 4px;
}

/* line 47, ../sass/lightbox.sass */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 56, ../sass/lightbox.sass */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../images/loading.gif) no-repeat;
}

/* line 63, ../sass/lightbox.sass */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 71, ../sass/lightbox.sass */
.lb-container > .nav {
  left: 0;
}

/* line 74, ../sass/lightbox.sass */
.lb-nav a {
  outline: none;
}

/* line 77, ../sass/lightbox.sass */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  /* Trick IE into showing hover */
  display: block;
}

/* line 84, ../sass/lightbox.sass */
.lb-prev {
  left: 0;
  float: left;
}
/* line 87, ../sass/lightbox.sass */
.lb-prev:hover {
  background: url(../images/prev.png) left 48% no-repeat;
}

/* line 90, ../sass/lightbox.sass */
.lb-next {
  right: 0;
  float: right;
}
/* line 93, ../sass/lightbox.sass */
.lb-next:hover {
  background: url(../images/next.png) right 48% no-repeat;
}

/* line 96, ../sass/lightbox.sass */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
/* line 38, ../../../../.rvm/gems/ruby-1.9.3-p392/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 103, ../sass/lightbox.sass */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 106, ../sass/lightbox.sass */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 111, ../sass/lightbox.sass */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
  color: #FFF; font-weight: bold;
}
/* line 115, ../sass/lightbox.sass */
.lb-data .lb-number {
  display: none!important;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;

  color: #999999;
}
/* line 121, ../sass/lightbox.sass */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 130, ../sass/lightbox.sass */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}