ul,li{
	margin: 0;
	padding: 0;
	list-style: none;
}
.td-w-2{
	width: 25.3%;
}
.td-w-23{
	width: 130px;
}
.td-w-46{
	width: 260px;
}
.td-w-51{
	width: 51.2%;
}
.td-b-r-1{
	border-right: 1px solid #ddd !important;
}
.col-sm-2{
	width: 13% !important;
}
.form-group{
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.text-left{
	text-align: left !important;
}
.p5{
	padding-bottom: 5px !important;		
}
.font-weight{
	font-weight: 400 !important;
}
.image-1 {
	background-color: #f2f2f2;
    background: url('../image/image-1.png') no-repeat top;
    width: 328px;
    height: 155px;
    background-size: cover;
    padding: 0;
}
.image-2 {
    background: url('../image/image-2.png') no-repeat top;
    width: 180px;
    height: 155px;
    background-size: cover;
    padding: 0;
}		
.table thead{background-color: #d5f2ff}
.table > tbody tr:nth-child(even) > td {background-color: #fff;}
.table > tbody tr:nth-child(odd) > td {background-color: #f6f6f6;}  
.table tfoot{background-color: #e6e6e6;}
.btn{padding:2px 12px !important;}
.top-td{
	background-color: #353b4b;
}
.add-btn{
	background-color:#65c3df !important;
	border-color: #65c3df !important;
}
.cus-btn{
	margin:0 10px !important;
}
.td-font-color{
	color: #ff6c6c !important;
}
.end-font-color{
	color: #65c3df;
}
.chebox-label{
    width: 20px;
    height: 20px;
    /* box-sizing: border-box; */
    background: url('../image/chebox.png') no-repeat left;
    background-position: 0% 100%;
    margin-bottom: -4px;
    margin-right: 10px;
}
.active-box{
	background-position: 0% 0%;
}
.chebox-label input[type='checkbox']{
	display: none;
}		
.td-w-25{
	width: 130px !important;
}
.td-w-50{
	width: 260px !important;
}
.td-b-0{
	border-bottom: 0 !important;
}
.td-t-0{
	border-top: 0 !important;
}
.td-m{margin-bottom: 0 !important;}
.td-h{
    height: 381px;
    overflow: auto;
    padding-right: 0px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}
.thead {
    padding-right: 16px;
    background-color: #d5f2ff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.td-b-r-0{
	border-right: 0 !important;
}			
/*氓庐拧盲鹿鈥懊β慌∶ヅ犅β澛∶ヂ矫┞溍ヂ徟犆ㄆ捙捗︹劉炉茂录艗氓庐陆茅芦藴氓藛鈥犆ニ喡ヂ姑ヂ衡�澝β�撁β慌∶ヅ犅β澛∶♀�灻ヂ奥好ヂ�*/
.td-h::-webkit-scrollbar{
    width: 17px;
    height: 16px;
    background-color: #fff;
    position: absolute;
    left: 0;
}
/*氓庐拧盲鹿鈥懊β慌∶ヅ犅β澛∶♀�灻铰┞佲�溍寂捗モ�犫�γ┧溌疵ヂ铰泵ヂ徟犆ヅ撯�犆р��*/
.td-h::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 0px;
    background-color: #f5f5f5;
}
/*氓庐拧盲鹿鈥懊β烩�樏ヂ濃�斆寂捗モ�犫�γ┧溌疵ヂ铰泵ヂ徟犆ヅ撯�犆р��*/
.td-h::-webkit-scrollbar-thumb{
    /*width: 10px;*/
    height: 20px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #65c3df;
}		
.btn-file {
    position: absolute !important;
    overflow: hidden;
    right: -115px;
    bottom: 0px;
}
.fileinput-cancel-button {
    position: absolute;
    right: -285px;    
    bottom: 0px;
}
.fileinput-remove-button {
    position: absolute;
    right: -195px;
    bottom: 0px;
}
.fileinput-upload-button {
    position: absolute;
    right: -275px;
    bottom: 0;
}
.close {
    position: absolute;
    right: 3px;
    top: 0;
}
.file-preview-frame {
    box-shadow: 0px 0px 0px 0px #a2958a;
    border: 0 !important;
    padding: 6px 0 0;
    margin: 12px 0 0 0;
    height: 131px;
    width: 100%;
}

.file-preview-frame:hover {
    box-shadow: 0px 0px 0px 0px #333;
}
.file-other-error{display: none !important}
.file-error-message {
    position: absolute;
    top: 45px;
    left: 0;
    width: 321px;
}	
.td-txt {
    word-wrap: break-word;
    margin: 0 auto;
    word-break: break-all;
}
.td-link {
    word-wrap: break-word;
    text-align: center;
    word-break: break-all;
}
.table-bordered{
	border: 0;
}
.td-p-r{
	padding-right: 0 !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle !important;
}
.td-w165{
	width: 151px;
}
.table-w541{
	width: 527px !important;
}
.w-543{
	width: 543px !important;
}
